Package: com.siphonostb.gestures16
Name: Gestures16
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Siphonostb
Author: Siphonostb
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
